# Build results
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Logs
*.log

# Publish output
*.publish/

# Others
*.dbmdl
*.bak
*.backup
*.swp
*.tmp
*.temp
*.cache

# Ignore appsettings
appsettings.json
appsettings.*.json
